<h1>{{student.name}}</h1>
<h3>{{student.id}}</h3>  

<p>Angular has Pipes | Filter --> Used to beautify UI</p>

<h1>{{student.name | uppercase}}</h1>

<h1>{{student.name | lowercase}}</h1>

<p>Below is example of displaying list, where "*ngFor" is predefine angular directive</p>

<div *ngFor = "let s of studentlist">
    <span>{{s.name}}</span>
</div>

<ul *ngFor = "let s of studentlist">
    <li>ID:{{s.id}} || Name:{{s.name}}</li>
</ul>

<p>-------------------------</p>


<!-- // Assingment  to be done -- Make HTML format correct -->
<div >
    <select *ngFor = "let s of studentlist">
        <option>{{s.id}} || Name:{{s.name}}</option>
    </select>
</div>

<p>------ Completing Assingment -----------</p>

<ul class="stud">
    <li *ngFor = "let s of studentlist" [class.selected]="s === selectedStudent" (click)="onSelect(s)">
        <span>{{s.id}}</span>,<span>{{s.name}}</span>
        
    </li>
    <div *ngIf="selectedStudent">
        <p>This student which is select is --> {{selectedStudent.name}}</p>
    </div>

</ul>

<app-student-details [student]="selectedStudent"></app-student-details>



